* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px 0;
}

form {
  display: flex;
}

header input[type="text"] {
  width: 500px;
  background-color: #f0efef;
  padding: 20px;
  font-size: 20px;
  border: none;
}

header button {
  width: 100px;
  background-color: #7a7ad1;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.galeria {
  max-width: 1200px;
  column-count: 3;
}

.galeria img {
  width: 100%;
}

.mostrarMais {
  padding: 20px;
  margin: 20px auto 100px;
  border: none;
  background-color: #7a7ad1;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
